body {
  margin: 0;
}

.container-zoo {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas:
    "headr headr headr headr headr"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "footr footr footr footr footr";
}

.headr {
  grid-area: headr;
  background-image: linear-gradient(
    to right,
    rgb(35, 88, 35),
    lightgreen,
    rgb(197, 212, 192)
  );
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(136, 136, 119);
}

.container-side {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.continents {
  text-align: center;
  font-size: 3.5vh;
  width: 19vw;
  cursor: pointer;
  padding: 1vh 1vw;
  border-radius: 2vh;
  font-weight: 600;
  border: #ffffff 2px solid;
  background-color: rgba(217, 230, 213, 0.581);
}

.main {
  grid-area: main;
  background-image: url(pictures/the\ last\ background.jpg);
  background-size: cover;
  overflow: auto;
}

.footr {
  font-weight: 600;
  font-size: 1.5vh;
  grid-area: footr;
  background-image: linear-gradient(
    to left,
    rgb(35, 88, 35),
    lightgreen,
    rgb(197, 212, 192)
  );
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

a {
  text-decoration: none;
  margin-left: 0.1vw;
}

a:hover {
  text-decoration: none;
}

#credit {
  display: block;
}

#hamburger {
  display: none;
}

.navbar {
  margin-top: 1vh;
  background-image: linear-gradient(
    to left,
    rgb(35, 88, 35),
    lightgreen,
    rgb(197, 212, 192)
  );
}

.animal-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  align-content: space-evenly;
  height: 200vh;
  column-gap: 2vw;
}

.animal-card {
  border: 6px solid #ffffff;
  border-radius: 1vw;
  padding: 1vh 1vw;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-image: linear-gradient(to right, green, rgb(235, 234, 235)) 1;
  backdrop-filter: blur(3px);
}

.animal-card img {
  width: 20vw;
  height: 40vh;
}

p {
  text-align: center;
  font-size: 3vh;
  background-color: #ffffff8c;
  border-radius: 10vh;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .container-zoo {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas:
      "headr headr headr headr headr"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "main main main main main"
      "footr footr footr footr footr";
  }
  .sidebar {
    display: none;
  }

  .menu {
    width: 100%;
  }

  .main {
    overflow: auto;
  }

  .navbar-nav {
    transform: translate(100vw, 20vh);
    position: relative;
    background-color: black;
  }

  #hamburger {
    background-color: transparent;
    border-radius: 10px;
    display: unset;
    margin-left: 50vw;
    padding: 0;
  }

  #hamburger:hover + .navbar-nav {
    animation: hamburger 0.3s linear forwards;
  }

  @keyframes hamburger {
    0% {
      transform: translate(100vw, 20vh);
    }
    100% {
      transform: translate(65vw, 20vh);
    }
  }
}
